
/*Themes variable: you can easily setup your own colors here. Add your themes, and create pull request, it will be added to the main instance!*/

:root {
  --bg-color: #ffffff;
  --secondary: #ffffff;
  --text: #333;
  --links-color: #2b8d00;
  --buttons-bg-color: #dbdbdb;
  --search-button-bg-color-inactive: #f7f7f7;
  --search-button-bg-color-active: #dbdbdb;
  --buttons-text: #333;
  --chatbox-bg: #f7f7f7;
  --back-icon-color: #333;
  --search-btn-bg: #222;
  --incoming-msg-bg-color: #fff;
  --outgoing-msg-bg-color:#333;
  --incoming-msg-text:#333;
  --outgoing-msg-text:#fff;
  --status-dot-color-online: #2b8d00;
  --status-dot-color-offline: #b0b0b0;
}

.dark {
  --bg-color: #333;
  --secondary: #222;
  --text: #ddd;
  --links-color: #ac0000;
  --buttons-bg-color: #7f0000;
  --search-button-bg-color-inactive: #7f0000;
  --search-button-bg-color-active: #af0000;
  --buttons-text: #ddd;
  --chatbox-bg:  #878787;
  --back-icon-color: #ddd;
  --search-btn-bg: #ddd;
  --incoming-msg-bg-color:#333;
  --outgoing-msg-bg-color: #7f0000;
  --incoming-msg-text: #ddd;
  --outgoing-msg-text: #ddd;
  --status-dot-color-online: #ac0000;
  --status-dot-color-offline: #b0b0b0;
}

/* -- WIP need to adjust toggleTheme() function*/
.g /* from G-team: https://glitcher.me */ {
  --bg-color: #000;
  --secondary: #222;
  --text: #ddd;
  --buttons-bg-color: #7f0000;
  --buttons-text: #ddd;
  --chatbox-bg:  #1a1a1a;
  --back-icon-color: red;
  --search-btn-bg: #7f0000;
  --search-btn-img: url(/icons/search.png);
  --incoming-msg-bg-color:#333;
  --outgoing-msg-bg-color: #7f0000;
  --incoming-msg-text: #ddd;
  --outgoing-msg-text: #ddd;
  --typing-area: #111;
  --typing-area-text: #fff;
  --input-background: #111;
  --input-text: #fff;
  --search-input-text: #fff;
  --search-input: #111;
}

/*END*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 0 10px;
  color: var(--text);
}

/* Dashboard style */

.dashboard{
  margin: 20px 0;
  display: block;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.dashboard-list{
  padding: 10px;
}

.dashboard-list-line a{
  text-decoration: none;
  margin: 10px;
}

.dashboard-list-line {
  display: flex;
  background: var(--buttons-bg-color);
  color: var(--buttons-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.dashboard-list-line p {
  margin-left:20px;
  text-align: center; 
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
}

.dashboard-btn{
  display: block;
  background: var(--buttons-bg-color);
  color: var(--buttons-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}

.dash-icon{
  display: inline;
  height: 30px;
  width: auto;
  margin: auto;
  margin-left: 5px;
}

/*END*/

.user-admin-icon{
  display: inline;
  height: 70px;
  width: auto;
  margin: auto;
  margin-left: 5px;

}

.user-admin-int{
  text-align: center;
  width: 96%;
  border-radius: 8px;
  display: block;
  margin: auto 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: var(--buttons-bg-color);
}

.user-admin-int a{
    display: flex;
    border-radius: 8px;
    width: 40%;
}

.user-admin-int a:hover{
    color: #ddd;
}

.user-admin-int a p{
    margin-left: 5px;
}

.are-you-sure-list{
  display: flex;
  background: var(--buttons-bg-color);
  color: var(--buttons-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 17px;
  margin :40px;
}

a{
  text-decoration: none !important;
  color: var(--links-color);
}

.footer{
  display: flex;
  font-size: 10px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.footer p{
  margin-left: 5px;
  padding: 1px;
  width: 100%;
  text-overflow: clip;
}

.source_footer{
  float: right;
  text-decoration: none;
}

.wrapper{
  background: var(--secondary);
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

/* Login & Signup Form CSS Start */

.show-hide span{
  text-align: center;
  display: block;
  margin-bottom: 5px !important;
}

#eye{
  float: right;
  right: 5px;
  width: 15%;
  border-radius: 8px;
  cursor: pointer;
  margin-top: -35px;
  z-index: 30;
}

.form{
  padding: 25px 30px;
}

.login-link, .signup-link{
  color: var(--links-color) !important;
}

.image-subission-button{
  display: block;
  background: var(--buttons-bg-color);
  color: var(--buttons-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
  width: 30%;
  cursor: pointer;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}

.image-subission-input{
  display: none
}

.bye{
  display: block;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--buttons-bg-color);
  color: var(--buttons-text);
}

.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form{
  margin: 20px 0;
}

.form form .error-text{
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}

.form form .name-details{
  display: flex;
}

.form .name-details .field:first-child{
  margin-right: 10px;
}

.form .name-details .field:last-child{
  margin-left: 10px;
}

.form form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.form form .field label{
  margin-bottom: 2px;
}

.form form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form form .field input{
  outline: none;
}

.form form .image input{
  font-size: 17px;
}

.form form .button input{
  height: 45px;
  border: none;
  color: var(--buttons-text);
  font-size: 17px;
  background: var(--buttons-bg-color);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}

.form form .field i{
  position: absolute;
  right: 15px;
  top: 70%;
  color: var(--text);
  cursor: pointer;
  transform: translateY(-50%);
}

.form .link{
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a{
  color: var(--text);
}

.form .link a:hover{
  text-decoration: underline;
}

/* Users List CSS Start */
.users{
  padding: 25px 30px;
}

.users header,
.users-list a{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}

.users header img{
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
}

:is(.users, .users-list) .content .details{
  color: var(--text);
  margin-left: 20px;
}

:is(.users, .users-list) .details span{
  font-size: 18px;
  font-weight: 500;
}

.users header .logout{
  display: flex;
  background: var(--buttons-bg-color);
  color: var(--buttons-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
  height: 35px;
}

.users .search{
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text{
  font-size: 18px;
}

.users .search input{
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.users .search input.show{
  opacity: 1;
  pointer-events: auto;
}

.users .search button{
  position: relative;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: var(--search-button-bg-color-inactive);
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}

.users .search button.active{
  background: var(--search-button-bg-color-active);
  color: var(--text);
}

.search button.active ::before{
  content: '\f00d';
}

.privacy-div{
  max-height: 350px;
  overflow-y: scroll;
}

.users-list{
  max-height: 350px;
  overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar{
  width: 0px;
}

.users-list a{
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child{
  margin-bottom: 0px;
  border-bottom: none;
}

.users-list a img{
  height: 40px;
  width: 40px;
}

.users-list a .details p{
  color: #67676a;
}

.users-list a .status-dot{
  font-size: 30px;
  color: var(--status-dot-color-online);
  padding-left: 10px;
}

.users-list a .status-dot.offline{
  color: var(--status-dot-color-offline);
}

/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.dustbin{
  color: gray;
  font-weight: bold;
}

.dustbin:hover{
  color: Red;
}

.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}

.backicon{
  margin: 2px;
  padding: 2px;
  color: var(--back-icon-color);
  text-decoration: none;
  font-size: 30px;
}

.send_img , .searchpng{
  margin: 2px;
  padding: 2px;
  max-height: 35px;
  max-width: 35px;
}

.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

.date_outgoing{
  text-align: right;
  display: block;
  color: Gray;
  font-size: 10px;
  margin-top: 5px;
}

.date_incoming{
  text-align: left;
  display: block;
  color: Gray;
  font-size: 10px;
  margin-top: 5px;

}

.nuke{
  margin-left: 120px;
  border-radius: 360px;
}

.nuke-img{
  padding: 1px;
  cursor: pointer;
}

.nuke-img:hover{
  background: #7f0000;
}

.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}

.chat-box{
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: var(--chatbox-bg);
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}

.chat-box .chat{
  margin: 15px 0;
}

.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing{
  display: flex;
}

.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p{
  background: var(--outgoing-msg-bg-color);
  color: var(--outgoing-msg-text);
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}

.chat-box .incoming img{
  height: 35px;
  width: 35px;
}

.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

#chatbox-scroll-mode{
  position: fixed;
  margin: auto 30px;
  z-index: 1;
  color: var(--text);
  background: var(--secondary);
  border: solid 1px;
  border-radius: 5px;
}

.incoming .details p{
  background: var(--incoming-msg-bg-color);
  color: var(--incoming-msg-text);
  border-radius: 18px 18px 18px 0;
}

.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}

.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {
  .form, .users{
    padding: 20px;
  }

  .form header{
    text-align: center;
  }

  .form form .name-details{
    flex-direction: column;
  }

  .form .name-details .field:first-child{
    margin-right: 0px;
  }

  .form .name-details .field:last-child{
    margin-left: 0px;
  }

  .users header img{
    height: 45px;
    width: 45px;
  }

  .users header .logout{
    padding: 6px 10px;
    font-size: 16px;
  }

  :is(.users, .users-list) .content .details{
    margin-left: 15px;
  }

  .users-list a{
    padding-right: 10px;
  }

  .chat-area header{
    padding: 15px 20px;
  }

  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }

  .chat-box .chat p{
    font-size: 15px;
  }

  .chat-box .outogoing .details{
    max-width: 230px;
  }

  .chat-box .incoming .details{
    max-width: 265px;
  }

  .incoming .details img{
    height: 30px;
    width: 30px;
  }

  .chat-area form{
    padding: 20px;
  }

  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }

  .chat-area form button{
    width: 45px;
  }
}
